/* .page_body_1 {
    height: 270px;
    background-color: yellowgreen;
    width: 500px;
}

.page_body_2 {
    width: 1000px;
    height: 270px;
    background-color: yellowgreen;
} */

.warp_content {
  width: 100%;
}