.body {
    width: 900px;
    height: 800px;
    margin: 35px 0px 0px 950px;
    border: 1px solid #9909;
}

.body_1 {
    font-size: 18px;



}

.body_1 div {
    float: left;
    padding: 30px 20px;
}