.body {
  width: 900px;
  height: 1200px;
  margin: 35px 0px 0px 20px;
  background-color: #cee9f0;
}

.body_1 {
  font-size: 18px;
}

  .body_1 div {
      float: left;
      padding: 30px 20px;
  }

form {
  font-size: 18px;
}

.box {
  margin-left: 240px;
  width: 400px;
  height: 240px;
}

  .box button {
      width: 110px;
      height: 60px;
      margin: 10px;
      font-size: 15px;
      border: none;
  }

.left {
  width: 900px;
  height: 400px;
  margin: 20px 0px 0px 30px; 
  border: 1px solid #3eb5d3;
}

.window {
  width: 900px;
  height: 500px;
  float: left;
  margin: 30px;
  border: 1px solid black;
  background-color: #838b8b;
}

.top_1 {
  float: left;
  width: 450px;
  height: 250px;
  border-right: 1px solid black;
  position: absolute;
}

.top_2 {
  width: 450px;
  height: 250px;
  float: right;
  border-bottom: 1px solid black;
}

.bottom_1 {
  width: 449px;
  height: 249px;
  float: left;
  position: relative;
  border-top: 1px solid black;
}

.bottom_2 {
  width: 449px;
  height: 249px;
  float: right;
  border-left: 1px solid black;
}

.warp_content{width:100%;}