.body { 
  margin: 30px 30px 0px 20px;
  background-color: #cee9f0;
}

.body_1 {
  font-size: 18px;
}

  .body_1 div {
      float: left;
      padding: 10px 20px;
  }

form {
  font-size: 18px;
}

.box {
  margin-left: 240px;
  width: 400px;
  height: 240px;
}

  .box button {
      width: 110px;
      height: 60px;
      margin: 10px;
      font-size: 15px;
      border: none;
  }

.left {  
  margin: 20px 30px 0px 30px; 
  border: 1px solid #3eb5d3;
  overflow:auto;
}

.window {  
  min-width:500px;
  max-width:1200px;
  margin: 30px;
}

.top_1 {
  float: left;
  width: 450px;
  height: 250px;
  border-right: 1px solid black;
  position: absolute;
}

.top_2 {
  width: 450px;
  height: 250px;
  float: right;
  border-bottom: 1px solid black;
}

.bottom_1 {
  width: 449px;
  height: 249px;
  float: left;
  position: relative;
  border-top: 1px solid black;
}

.bottom_2 {
  width: 449px;
  height: 249px;
  float: right;
  border-left: 1px solid black;
}

.warp_content{width:100%;}
.form-control.mycontrol {
  width: auto;
  display: inline-block;
  min-width: 150px;
 
}

.lb_title{min-width:120px;text-align:center;}

.td_chose_div .mybtn{margin-left:20px;padding:5px 20px;}

.opinfo{padding:10px;}
.left h3{padding:10px;}
.form-control.Wdate {
  border: none;
  height: 34px;
}
.form-inline div{margin-top:10px;}